body {
  background-color: CornflowerBlue;
  color: AliceBlue !important;
  background-image: url('https://raw.githack.com/five4x1/five4x1.github.io/main/bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

nav {
  background: none;
  color: #fff;
}

.funcBatch {
  text-align: center;
}
