body {
  background-color: #27316a;
  color: AliceBlue!important;
  overflow-x: hidden;
}
section{
  background-image: url('https://raw.githack.com/five4x1/five4x1.github.io/main/bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 150vw;
  transform: scale(1.5);
  filter: blur(1.5px);
  -webkit-filter: blur(1.5px);
}

nav {
  background: none;
  color: #fff;
  box-shadow: none;
}
main{
  position: absolute;
}
.items{
  box-shadow: none!important;
}
.container,
.paginate-container {
  width: calc(100% - 40px);
  max-width: 800px;
  margin: 0 auto;
  background: white;
  padding: 12px;
  box-shadow: 0 5px 10px rgb(0 0 0 / 12%);
  border-radius: 8px;
  min-width: 600px;
}

.funcBatch {
  text-align: center;
  color: black;
  background: white;
}

.white-text{
  color: white!important
}
