body {
  background-color: CornflowerBlue;
  color: AliceBlue !important;
  background-image: url('https://raw.githack.com/five4x1/five4x1.github.io/main/bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

nav {
  background: none;
  color: #fff;
}

.container,
.paginate-container {
  width: calc(100% - 40px);
  max-width: 800px;
  margin: 0 auto;
  background: white;
  padding: 12px;
  box-shadow: 0 5px 10px rgb(0 0 0 / 12%);
  border-radius: 8px;
}

.funcBatch {
  text-align: center;
}
